:root {
  --header-color: #ffffff;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --background-text-color: #2196f3;
  --background-color-one: #2f303a;
  --background-color-two: #f5f4fa;
  --third-text-color: #000000;
  --four-text-color: rgba(255, 255, 255, 0.6);
  --background-border-color-one: #eeeeee;
  --background-border-color-two: #ececec;
  --icon-color-passive: #afb1b8;
  --icon-color-active: #ffffff;
  --icon-color-dark: rgba(255, 255, 255, 0.1);
  --shadow-all--: 0px 3px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.2);
  --background-image-text-color: rgba(33, 150, 243, 0.9);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --backgroudn-image-text-color-two: rgba(47, 48, 58, 0.8);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--header-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.list .link.current {
  color: var(--background-text-color);
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--background-text-color);
}

.link:hover, .link:focus {
  color: var(--background-text-color);
}

.link:hover .mail-icon,
.link:focus .mail-icon,
.link:focus .tel-icon,
.link:hover .tel-icon {
  fill: var(--background-text-color);
}

.mail-icon {
  margin-right: 10px;
  height: 100%;
  fill: var(--second-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  margin-right: 10px;
  height: 100%;
  fill: var(--second-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.modal {
  position: absolute;
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: var(--shadow-all--);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-btn {
  cursor: pointer;
  fill: var(--third-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--background-text-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-backdrop);
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.btn {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--background-text-color);
  color: var(--header-color);
  box-shadow: var(--shadow-all--);
}

.btn-container-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.active-btn {
  color: var(--header-color);
  background-color: var(--background-text-color);
}

.btn-container-item {
  margin-right: 8px;
}

.btn-container-item:last-child {
  margin-right: 0;
}

.form {
  width: 100%;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: var(--second-text-color);
}

.modal-form-field:nth-child(6) {
  margin-bottom: 30px;
}

.form-field-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.form-wrap-field {
  margin-top: 4px;
  display: block;
  position: relative;
}

.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  border-radius: 4px;
  width: 100%;
  padding-left: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--background-text-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--background-text-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--background-text-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.btn-modal-submit {
  align-self: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--background-text-color);
  border-radius: 4px;
  border: none;
  color: var(--header-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-submit:focus, .btn-modal-submit:hover {
  box-shadow: var(--shadow-all--);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 7px;
  border: 1px solid #303030;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--background-text-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-color: var(--background-text-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 1px solid var(--background-text-color);
  border-color: var(--background-text-color);
}

.link-modal {
  color: var(--background-text-color);
}

.link-modal:visited {
  color: var(--background-text-color);
}

.link-modal::after {
  display: block;
  content: "";
  width: 127px;
  height: 1px;
  position: absolute;
  bottom: 104px;
  color: var(--background-text-color);
  background-color: var(--background-text-color);
}

.button-order {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--background-text-color);
  color: var(--header-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--background-border-color-two);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn__icon--menu {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: wheat;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visible 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__item {
  margin-bottom: 32px;
}

.mobile-nav__item:last-child {
  margin-bottom: auto;
}

.mobile-nav__contact {
  margin-bottom: 32px;
}

.mobile-nav__contact:last-child {
  margin-bottom: 64px;
}

.mobile-nav__social {
  display: flex;
  justify-content: start;
}

.mobile-nav__social--item {
  margin-right: 20px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.burger-btn--close {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}

.burger-btn__icon--close {
  width: 40px;
  height: 40px;
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-text-color);
  margin-right: 93px;
}

.logo-footer {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-text-color);
}

.logo-dark {
  color: var(--third-text-color);
}

.logo-light {
  color: var(--header-color);
}

.header-nav {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-nav__contacts {
    display: none;
  }
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0px;
}

.header--contacts {
  margin-right: 50px;
}

.header--contacts:last-child {
  margin-right: 0;
}

.header-nav__link {
  position: relative;
}

.header__contacts-container {
  display: flex;
}

.header--contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.portfolio-content {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.container-list-filter {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.container-list-filter-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid var(--background-border-color-one);
  transition: box-shadow 2550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-list-filter-item:hover .portfolio-image-description {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-list-filter-item:hover .container-list-filter-item-description,
.container-list-filter-link:focus .container-list-filter-item-description {
  cursor: pointer;
  box-shadow: var(--shadow-all--);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-list-filter-link {
  display: block;
  text-decoration: none;
}

.container-list-filter-link:focus .portfolio-image-description {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-image-description {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: var(--background-image-text-color);
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.container-list-filter-item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-content-description {
  line-height: 1.87;
  color: var(--second-text-color);
}
/*# sourceMappingURL=main.css.map */