:root {
  --header-color: #ffffff;
  --primary-text-color: #212121;
  --border-mobile-color: rgba(33, 33, 33, 0.2);
  --border-portfolio: #eeeeee;
  --second-text-color: #757575;
  --background-text-color: #2196f3;
  --background-color-one: #2f303a;
  --background-color-two: #f5f4fa;
  --third-text-color: #000000;
  --four-text-color: rgba(255, 255, 255, 0.6);
  --background-border-color-one: #eeeeee;
  --background-border-color-two: #ececec;
  --icon-color-passive: #afb1b8;
  --icon-color-active: #ffffff;
  --icon-color-dark: rgba(255, 255, 255, 0.1);
  --shadow-all--: 0px 3px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.2);
  --background-image-text-color: rgba(33, 150, 243, 0.9);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --backgroudn-image-text-color-two: rgba(47, 48, 58, 0.8);
}
