.header {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--background-border-color-two);

  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon--menu {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: wheat;
  padding: 48px 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.burger-btn--close {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}
.burger-btn__icon--close {
  width: 40px;
  height: 40px;
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-text-color);
  margin-right: 93px;
}

.logo-footer {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background-text-color);
}

.logo-dark {
  color: var(--third-text-color);
}
.logo-light {
  color: var(--header-color);
}

.header-nav {
  margin-right: auto;

  display: none;
}

.header-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__list {
  display: flex;
}

.header-nav__contacts {
  display: none;
}

.header-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}
.header--contacts {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}
.header-nav__link {
  position: relative;
}

.header__contacts-container {
  display: flex;
}

.header--contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
