.portfolio-content {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.container-list-filter {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.container-list-filter-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid var(--background-border-color-one);
  transition: box-shadow 2550ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .portfolio-image-description {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.container-list-filter-item:hover .container-list-filter-item-description,
.container-list-filter-link:focus .container-list-filter-item-description {
  cursor: pointer;
  box-shadow: var(--shadow-all--);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-list-filter-link {
  display: block;
  text-decoration: none;

  &:focus .portfolio-image-description {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.filter-list-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-image-description {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: var(--background-image-text-color);
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.container-list-filter-item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-content-description {
  line-height: 1.87;
  color: var(--second-text-color);
}
